
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
header{
  background-color: white;
  padding: 15px 0px;
}
.container{
  max-width: 1540px;
  margin: auto;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.common-btn{
  background-color: #1D4ED8;
  color: white;
  border: none;
  padding: 13px 20px;
  border-radius: 9px;
  font-size: 15px;
  font-weight:600;
  cursor: pointer;
}
.common-btn:hover{
  background-color:#2e385c;
}
.logo-main{
  display: flex;
  align-items: center;
  gap: 10px;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-weight: 400;
  font-family: 'Inter';
  text-decoration: none;
}
nav ul li a{
  text-decoration: none;
}
.hero-parent-root{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   width: 100%;
   height: 650px;
}
.hero{
   background-image: url("./assets/banner.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 650px;
  padding-top: 80px;
  gap: 15px;
}
.hero h1{
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: bold;
    font-weight: 800;
}
.hero p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    max-width: 750px;
    margin: 20px 0;
    line-height: 30px;
}
.hero .common-btn{
  padding: 15px 35px;
  margin-top: 230px;
}
.speaker-parent-container{
  margin: 80px auto;
  text-align: center;
   max-width: 1540px;
}
.speaker-parent-container h1{
  text-align: center;
  font-weight: 700;
  font-family: "Inter";
  margin-bottom: 50px;
  font-weight: bold;
}
.speaker-guest-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.guest-container{
  border: 1px solid rgb(232, 229, 229);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.guest-info{
  padding: 25px 20px;
  text-align: left;
    padding: 15px 10px;
}
.guest-info h3{
  font-size: 26px;
    margin-bottom: 10px;
    font-family: "Inter";
}
.guest-info P{
  font-size: 25px;
    color: #2563EB;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: left;
}
.guest-info h5{
  font-size: 25px;
    color: #575757;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    font-family: "Inter";
}

.pricing-parent-container{
  max-width: 1100px;
  margin: 100px auto;
  text-align: center;
}
.pricing-parent-container h1{
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "Inter";
}
.pricing-subtitle{
  color: #575757;
  margin-bottom: 10px;
}
.pricing-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: center;
}
.pricing-card{
  border: 1px solid  #E5E7EB;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
}
.pricing-card h1{
  font-size: 40px;
  margin-top: 10px;
}
.pricing-card span{
  color: #6B7280;
  font-size: 13px;
}
.pricing-card hr{
  margin: 25px 0;
  border: 1px solid #E5E7EB;
}

.pricing-card ul{
  list-style: none;
  margin-bottom: 30px;
}
.pricing-card ul li{
  margin-bottom: 12px;
  font-size: 14px;
}
.pricing-btn{
  width: 100%;
  padding: 13px;
  background-color:white;
  color: #2563EB;
   border: 1px solid #2563EB;
  border-radius: 6px;
  cursor: pointer;
}
.common-btn-price{
  width: 100%;
  padding: 13px;
  background-color:#2563EB;
  color: white;
   border: 1px solid #2563EB;
  border-radius: 6px;
  cursor: pointer;
}
.pricing-btn-3{
  width: 100%;
  padding: 13px;
  background-color:white;
  color: #000000;
   border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;
}
.pro-card{
  background-color: #0F1D2D;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}